.logo{
    width: 50px;
    height: 50px;
}

body{
    background-image: url(../img/fond.png);
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 5%;
}

